# AppVeyor Build number is incremental and not related to actual version number of the product
version: '{build}'

image: Visual Studio 2019

environment:
  global:
    DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    DOTNET_CLI_TELEMETRY_OPTOUT: 1
#  DOCKER_USER:
#    secure: xxxxxxx
#  DOCKER_PASS:
#    secure: yyyyyyy

#on_finish:
  #- ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
  
build_script:
  - ps: .\build.ps1

test: off

#deploy_script:
#  - ps: .\deploy.ps1

artifacts:
  - path: artifacts\nuget\*.nupkg
    name: NuGet

# Deploy every successful build (except PRs) to development feed
nuget:
  account_feed: true
  project_feed: true
  disable_publish_on_pr: true
